* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    background-color: rgba(255, 255, 255, 0.1);
    background-image: url("https://img.freepik.com/fotos-gratis/textura-de-papelao-amarelo_95678-83.jpg?w=1380&t=st=1651073712~exp=1651074312~hmac=faa96c0221f2c1cbdf0fd83435f7214362bc6e88719638f084c6d589f10bac09");
    background-size: cover;
}

li {
    list-style: none;
}

.div-nav {
    background-color: #7b0408;
    height: 4.8rem;
}

.nav-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav-list {
    margin: 2.3rem;
}

.nav-itens {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #F3F4F8;
    transition: 400ms;
}

.nav-itens:hover {
    font-size: 1.3rem;
}

.container {
    background-color: rgb(209, 142, 17);
    height: 30px;
}

.sobre-div {
   
}

.text-pizza {
    margin-top:4rem;
    padding: 1.6rem;
    text-decoration: none;
}

.text-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    color: #6f0109;
}

.text-main {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #af2e37;
}

.pizza-img {
    height: 400px;
    width: 100%;
    color: rgba(255, 255, 255, 0.1);
    object-fit: cover;
}

.cardapio-title {
    margin-top: 15px;
    margin-left: 30%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    color: #7b0408;
}
