* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    background-color: linear-gradient(to bottom right, #F3F4F8, #D2D4DA);
}

li {
    list-style: none;
}

.div-nav {
    background-color: #404252;
    height: 4.8rem;
}

.nav-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav-list {
    margin: 1.6rem;
}

.nav-itens {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #F3F4F8;
}
